<!DOCTYPE html>
{% extends 'bootstrap/base.html'%}
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>RONNIE'S BLOG</title>
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Charm|Parisienne|Playfair+Display+SC|Rouge+Script|Tangerine&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
        <link rel="scheme" href="https://colorhunt.co/">
        <link rel="scheme" href="https://coolors.co/c1aba6-533b4d-f564a9-faa4bd-fae3c6">

    </head>
   
    <body>
       
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock %} 
        {% block content %}  
        {% endblock %}
    </body>
</html>