<link href="https://fonts.googleapis.com/css?family=Charm|Parisienne|Playfair+Display+SC|Rouge+Script|Tangerine&display=swap" rel="stylesheet">
<link rel="scheme" href="https://colorhunt.co/">

<nav style="background-color:black;"class="navbar navbar-expand-lg navbar-light bg-light">
   <h3 class="navbar-brand" ><b>MYBLOG</b></h3>
   <img  src="https://www.nicepng.com/png/full/29-299317_falcon-head-drawing-at-getdrawings-black-and-white.png" alt="image of a falcon" width="65px" height="65px">
 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="big" class="nav-item active">
        <a class="nav-link" href="/"><b>Home</b> <span class="sr-only">(current)</span></a>
      </li>
      <li id="why" class="nav-item">
        <a class="nav-link" href="/"><b>Your blog</b></a>
      </li>
      <li id="run" class="nav-item">
        <a class="nav-link" href="/"><b>My Gallery</b></a>
      </li>
    
    </ul>
    <div class="card">
    <div id="dawn">
      {% if current_user.is_authenticated %}
        <a id="you" href="{{url_for('auth.logout')}}">Sign out</a>
      {% else %}
      
        <a id="me"href="{{url_for('auth.login')}}">Sign in</a>
      
      {% endif %}
    </div>
    </div>
  </div>
</nav>
<style>
        #navbarNav{
                float:right;
        }
        a:hover{
            color:red;
        }
        #dawn{
                color:black;
                position:absolute;
                top:10%;
                left:96%;
        }
        #dawn:hover{
                   background-color:grey;
        }
        #me{
            margin:0px; 
            color:silver; 
            font-size:25px;
        }
        #you{
            margin:12px; 
            color:silver; 
        }
        #big{
            margin:12px; 
            color:silver;  
        }
        #why{
            margin:12px;
            color:silver;
        }
        #run{
            margin:12px;
            color:silver;

        }
        #forever{
                background-color:transparent;
                
        }
        h3{
            color:#393e46;
            font-size:27px;
            margin-bottom:5px;
            font-family: 'Playfair Display SC', serif;
        }
        a{
            color:silver;
            font-size:20px;
            font-family: 'Tangerine', cursive;
            margin-right:40px;
        }

</style>